.env
*.log

# Rails
backend/tmp/
backend/log/*
backend/.bundle/
backend/vendor/bundle/
backend/node_modules/
backend/.byebug_history
backend/config/master.key
backend/config/credentials/*.key
backend/storage/*
backend/.env

# Vue
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

ZExampleChatBot/

INSTRUÇÕES.md